*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1500px;
    background-color: whitesmoke;
}

.static{
    position: static;
    background-color: red;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: whitesmoke;
}

.container{
    position: relative;
    width: 500px;
    height: 300px;
    margin: 30px auto;
    background-color: darkblue;
    text-align: center;
    color: yellow;
}

.relative{
 position: relative;
 background-color: skyblue;
 color: whitesmoke;
 text-align: center;
 padding: 10px;
 width: 200px;
 top: 0;
 left: 0;

 
}

.absolute{
position: absolute;
background-color: cornflowerblue;
color: whitesmoke;
text-align: center;
padding: 10px;
width: 200px;
top: 0;
left: 0;
}

.fixed{
position: fixed;
background-color: cornsilk;
top: 20px;
right: 20px;
padding: 20px;
text-align: center;
color: black;
}