.bg{
    width: 2000px;
    height: 2000px;
    background-color: coral;
    background-image: url(images\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}