*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}