.imagem{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #696969;
    margin-bottom: 40px;
    display: block;
}

.imagem2{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #696969;
    margin-bottom: 40px;
    display: block;
}

.imagem3{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #696969;
    margin-bottom: 40px;
    display: block;
}