*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.largura-total{
    width: 100vw;
    background-color: blue;
    color: whitesmoke;
    padding: 20px;
}

.largura-metade{
    width: 50vw;
    background-color: red;
    color: whitesmoke;
    padding: 20px;
}

.altura-metade{
    height: 50vw;
    background-color: navy;
    color: whitesmoke;
    padding: 20px;
}

.altura-total{
    height: 100vw;
    background-color: green;
    color: whitesmoke;
    padding: 20px;
}